# This file is used to define development dependencies for the project.

# Pre-commit hooks and development tools
pre-commit~=4.3.0

# Linters and formatters
tox~=4.31.0
ruff~=0.14.5

# Building and packaging tools
build~=1.3.0
setuptools~=80.9.0
wheel~=0.45.1

# Cyclomatic complexity and code quality tools
radon~=6.0.1
xenon~=0.9.3
